<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navbar') %>

            <div class="container">

                <h1 class="mb-4">Tüm Yazılarım</h1>

                <% articles.forEach( article=> { %>
                    <div class="card mt-4" id="art-<%=article.id%>">

                        <div class="card-body">
                            <h4 class="card-title">
                                <%= article.title %>
                            </h4>
                            <div class="card-subtitle text-muted mb-4">
                                <%= article.createdAt.toLocaleDateString() %>
                            </div>
                            <div class="card-text mb-4">
                                <%= article.description %>
                            </div>
                            <a class="btn btn-primary" href="/<%= article.slug %>">Yazıyı oku</a>
                        </div>
                    </div>
                    <% }) %>


            </div>

            <%- include('../partials/footer') %>
                <script>
                    const postAsk = (id) => alertify.confirm('Yazi silinecek onayliyor musunuz?', function(){postDelete(id)});
                    const postDelete = (id) => {
                        fetch('/articles/' + id, {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json',
                            }
                        })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    document.getElementById('art-' + id).remove()
                                } else {
                                    alertify.error('Silerken hata olustu')
                                }
                            })
                            .catch((error) => {
                                alertify.error('Hata olustu')
                                console.error('Error:', error);
                            });
                    }
                </script>
    </body>

</html>