<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>

    <div class="container">

        <h1 class="mb-4">Tüm Yazılarım</h1>
        <a href="/articles/add" class="btn btn-success">Yeni Ekle</a>

        <% articles.forEach( article=> { %>
            <div class="card mt-4">
                <a class="btn" href="/articles/<%= article.id %>">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= article.title %>
                    </h4>
                    <div class="card-subtitle text-muted mb-4">
                        <%= article.createdAt.toLocaleDateString() %>
                    </div>
                    <div class="card-text mb-4">
                        <%= article.description %>
                    </div>
                </div>
            </a>
            </div>
            <% }) %>


    </div>

    <%- include('../partials/footer') %>
</body>
</html>