<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
  <div class="container mt-4">
    <h1 class="mb-1"><%= article.title %></h1>
    <div class="text-muted mb-2">
      <%= article.createdAt.toLocaleDateString() %>
    </div>
    <a href="/" class="btn btn-secondary">Ana Sayfa</a>
    <a href="/articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>

    <div>
      <!-- <%- article.sanitizedHtml %> -->
      <%= article.markdown%>
    </div>
  </div>
</body>
</html>